@model IEnumerable<Musify.Models.Song>

@{
    ViewBag.Title = "Index";
}


<div class="container">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table" id="songs">
        <thead>
            <tr>
                <th>
                    Artist
                </th>
                <th>
                    Album
                </th>
                <th>
                    Song Title
                </th>
                <th>
                    Audio
                </th>
                <th>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Album.Artist.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Album.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        <audio controls>
                            <source src="~/Songs/@item.SongPath" type="audio/mpeg" />
                        </audio>
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                        <button data-song-id="@item.ID" class="btn btn-link js-delete">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts
{

    <script>
        $(document).ready(function () {
            $("#songs").DataTable();
            var baseUrl = window.location.origin;
            console.log(window.location.origin);
            $(".js-delete").click(function (e) {
                var button = $(e.target);
                e.preventDefault();
                if (confirm("Are you sure you want to delete this song?")) {
                    $.ajax({
                        url: baseUrl + "/Admin/api/Songs/" + button.attr("data-song-id"),
                        method: "DELETE"
                    }).done(function () {
                        button.parents("tr").fadeOut(function () {
                            $(this).remove();
                        });
                    }).fail(function (error) {
                        console.log(error);
                        alert("Something failed");
                    });
                }
            });
        });
    </script>
}

