@model IEnumerable<Musify.Models.Song>

@{
    ViewBag.Title = "Index";
}

<h2></h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="songs">
    <tr>
        <th>
            Artist
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Album.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SongPath)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Album.Artist.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Album.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <audio controls>
                    <source src="~/Songs/@item.SongPath" type="audio/mpeg"/>
                </audio>
            </td>
            @*<td>
                    <img src="~/img/@Url.Content(item.Thumbnail)" class="albums-photo" />
                </td>*@
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
            </td>

            <td>
                @*@Html.ActionLink("Details", "Details", new { id = trainer.ID }) &nbsp&nbsp&nbsp|*@
                <button data-song-id="@item.ID" class="btn btn-link js-delete">Delete</button>
            </td>
        </tr>
    }

</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var baseUrl = window.location.origin;
            console.log(window.location.origin);
            $(".js-delete").click(function (e) {
                var button = $(e.target);
                e.preventDefault();
                if (confirm("Are you sure you want to delete this song?")) {
                    $.ajax({
                        url: baseUrl + "/Admin/api/Songs/" + button.attr("data-song-id"),
                        method: "DELETE"
                    }).done(function () {
                        button.parents("tr").fadeOut(function () {
                            $(this).remove();
                        });
                    }).fail(function (error) {
                        console.log(error);
                        alert("Something failed");
                    });
                }
            });
        });
    </script>
}

