@model Musify.Models.Artist

@{
    ViewBag.Title = "Delete";
}

<div class="">


    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thumbnail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thumbnail)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-dark" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>

