@model Musify.Models.Artist
@{
    ViewBag.Title = "Details";
}

@*<h2>Details</h2>*@

<img src="~/img/@Url.Content(Model.Thumbnail)" class="artists-photo" />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Model.Name
        </dd>


        @*<dt>
                @Html.DisplayNameFor(model => model.Info)
            </dt>
            <dd>
                @Model.Info
            </dd>*@

    </dl>
    <div>
        @foreach (var album in Model.Albums)
        {
            int counter = 1;
            <br /> <strong>Album:</strong> <span style="margin-right:30px;">@album.Title</span>
            <img src="~/img/@Url.Content(album.Thumbnail)" class="albums-photo" />

            <div style="display: inline-block;">
                @foreach (var song in album.Songs)
                {

                    <p style="margin-left: 30px; ">
                        @($"{counter}: {song.Title}")
                        @*<audio id="player" src="~/Songs/@song.SongPath" type="audio/mpeg"></audio>*@

                        <audio controls>
                            <source src="~/Songs/@song.SongPath" type="audio/mpeg" />

                        </audio>

                        @*<button onclick="document.getElementById('player').play()" >Play</button>
                            <button onclick="document.getElementById('player').pause()">Pause</button>*@
                    </p>

                    counter += 1;

                }
            </div>
            <br />

        }
    </div>
    <br />
    <br />
    <br />
    @Html.ActionLink("Back to Home Page", "Index", new { controller = "Home" })
</div>
