@model Musify.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <h1>Artists</h1>
    <div class="row brighten">
        @foreach (var artist in Model.Artists)
        {
            <div class="col-md-3">
                <a href="@Url.Action("Details", "ArtistsDetails", new { controller = "ArtistsDetails", id = artist.ID } )">
                    <img src="~/img/@Url.Content(artist.Thumbnail)" width="250" height="200" style="border-radius:10%" />
                </a>
                <h6 class="textHome" style="margin-bottom: 20px;">@artist.Name</h6>

            </div>
    
            @*<div class="col-md-2">
                <img src="~/img/@Url.Content(artist.Thumbnail)" width="100" height="100" />
                <h6 class="text-left">@artist.Name</h6>
            </div>*@
        }

    </div>
</div>


<div class="container">
    <h1>Albums</h1>
    <div class="row brighten">
        @foreach (var album in Model.Albums)
        {
        <div class="col-md-3">
            <a href="@Url.Action("Details", "AlbumsDetails", new { controller = "AlbumsDetails", id = album.ID } )">
                <img src="~/img/@Url.Content(album.Thumbnail)"  width="250" height="200" style="border-radius:10%" />
            </a>
                <h6 class="textHome">@album.Title</h6>
        </div>
        }

    </div>
</div> 