@model Musify.ViewModels.PlaylistNewViewModel
@{
    ViewBag.Title = "Create";
}

<div class="container">
    <h2 id="plname">@Model.Playlist.Name</h2>
    <div hidden id="playlist-id">@Model.Playlist.Id</div>
    <br />
    <div class="row">
        @foreach (var song in Model.SongsInPlaylist)
        {
            <div class="col-md-3">

                <div>
                    @Html.DisplayFor(modelsong => song.Title)
                </div>
                <div>
                    <img src="~/img/@Url.Content(song.Thumbnail)" class="songs-photo" />
                </div>
                <div>
                    <button hidden nema2="@song.ID" data-song-id="@song.ID" type="submit" class="js-add-to-playlist2 btn btn-link">Add to playlist</button>
                </div>
                <div>
                    <button name2="@song.ID" data-song-id="@song.ID" type="submit" class="js-remove-from-playlist2 btn btn-link">Remove from playlist</button>
                </div>

            </div>
        }
        @foreach (var song in Model.SongsNotInPlaylist)
        {
            <div class="col-md-3">

                <div>
                    @Html.DisplayFor(modelsong => song.Title)
                </div>
                <div>
                    <img src="~/img/@Url.Content(song.Thumbnail)" class="songs-photo" />
                </div>
                <div>
                    <button nema="@song.ID" data-song-id="@song.ID" type="submit" class="js-add-to-playlist btn btn-link">Add to playlist</button>
                </div>
                <div>
                    <button hidden name="@song.ID" data-song-id="@song.ID" type="submit" class="js-remove-from-playlist btn btn-link">Remove from playlist</button>
                </div>

            </div>
        }
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            
            $(".js-add-to-playlist").click(function (e) {
                var baseUrl = window.location.origin;
                var button = $(e.target);
                var songId = button.attr("data-song-id")
                e.preventDefault();
                var playlistId = $("#playlist-id").text();
                console.log(playlistId);
                console.log(songId);
                $.post(baseUrl + "/api/playlistsDetails", { playlistId: playlistId, songId: songId })
                    .done(function (response) {
                        button.hide();
                        $("button[name=" + songId + "]").removeAttr("hidden");
                    }).fail(function () {
                        alert("Something Failed");
                    });

            })

            $(".js-remove-from-playlist").click(function (e) {
                var button = $(e.target);
                var songId = button.attr("data-song-id")
                e.preventDefault();
                var playlistId = $("#playlist-id").text();
                console.log("Hellloo")
                console.log(playlistId);
                console.log(songId);
                $.ajax({
                    url: "/api/playlistsDetails/",
                    data: { playlistId: playlistId, songId: songId },
                    type: "DELETE"
                })
                    .done(function (response) {
                        button.attr("hidden", true);
                        $("button[nema=" + songId + "]").show();
                    }).fail(function () {
                        alert("Something Failed");
                    });

            })
            $(".js-add-to-playlist2").click(function (e) {
                var baseUrl = window.location.origin;
                var button = $(e.target);
                var songId = button.attr("data-song-id")
                e.preventDefault();
                var playlistId = $("#playlist-id").text();
                console.log(playlistId);
                console.log(songId);
                $.post(baseUrl + "/api/playlistsDetails", { playlistId: playlistId, songId: songId })
                    .done(function (response) {
                        button.attr("hidden", true);
                        $("button[name2=" + songId + "]").show();
                    }).fail(function () {
                        alert("Something Failed");
                    });

            })

            $(".js-remove-from-playlist2").click(function (e) {
                var button = $(e.target);
                var songId = button.attr("data-song-id")
                e.preventDefault();
                var playlistId = $("#playlist-id").text();
                console.log("Hellloo")
                console.log(playlistId);
                console.log(songId);
                $.ajax({
                    url: "/api/playlistsDetails/",
                    data: { playlistId: playlistId, songId: songId },
                    type: "DELETE"
                })
                    .done(function (response) {
                        button.hide();
                        $("button[nema2=" + songId + "]").removeAttr("hidden");
                    }).fail(function () {
                        alert("Something Failed");
                    });

            })
        });
        
    </script>

} 