@model List<Musify.Models.Playlist>
@{
    ViewBag.Title = "Index";
}

    <div class="container">

        @Html.ActionLink("Create New Playlist", "Create")
        <br />
        <br />
        <h2>My Playlists</h2>

        <div class="row">


            @foreach (var playlist in Model)
            {
                <section class="col-md-3">
                    <h4>
                        @Html.DisplayFor(modelplaylist => playlist.Name)
                    </h4>
                    @if (playlist.PlaylistDetails.Count > 0)
                    {
                        <div>
                            <img src="~/img/@Url.Content(playlist.PlaylistDetails[0].Song.Thumbnail)" class="songs-photo myImage" plId="@playlist.Id" />
                        </div>
                        <div>@playlist.PlaylistDetails.Count songs</div>
                    }
                    <button class="delete-pl" data-pl-id="@playlist.Id">Delete</button>


                </section>
            }

        </div>


    </div>


@section scripts{
    <script>
        $(document).ready(function () {
            var baseUrl = window.location.origin;
            $(".myImage").click(function (e) {
                var photo = $(e.target);
                var playlistId = photo.attr("plId");
                location.href = "https://localhost:44381/Playlists/ListenToPlaylist/" + playlistId;
            });
            $(".delete-pl").click(function (e) {
                var button = $(e.target);
                e.preventDefault();

                if (confirm("Are you sure you want to delete this playlist?")) {
                    $.ajax({
                        url: "/api/playlists/" + button.attr("data-pl-id"),
                        method: "DELETE"
                    }).done(function () {
                        button.parents("section").fadeOut(function () {
                            $(this).remove();
                        });

                    }).fail(function () {
                        alert("Something Failed");
                    });
                }
            })
        });
    </script>

}